<channels>
  <channel>
    <flags>
      <dice/>
      <feedreader/>
      <join/>
      <last/>
      <query/>
      <role/>
      <seen/>
      <url/>
    </flags>
    <name>test</name>
    <server>conference.localhost</server>
    <resource>ChatBot</resource>
  </channel>
</channels>

